/*
varad krishna
student number: 8979562
*/
body{
    font: 13px georgia;
    background-color: hsla(77, 99%, 44%, 0.9);
    width: 60vw;
    height: 70vh;
}
#list{
    color: #957;
    font-size: 0.7em;
}



